.nav-img{

    width: 120px;
    
}

body::before {
    content: "";
    position: fixed;
    background-image: url("../image/bg_image.jpg");
    z-index: -1;
    inset: 0;
    background-size: cover;
    opacity: 0.2;
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    
}
.nav-container{
    display: flex;
}
.link{
    color: brown;
    text-decoration: none;
    margin: 5px 5px;
    padding: 5px 5px;
    height: 50px;
   
}
.link:hover{
    background-color: brown;
    color: white;
    
}
fieldset{
   width: 300px;
   background-color: rgb(230, 226, 222);
   margin: 10px;
   border: 1px solid brown;
   margin-left: auto;
   margin-right: auto;
   margin-top:100px;
  text-align: center;
  border-radius: 7px;
}
.form-container{
    
    margin: 5px 5px;
    color: rgb(51, 3, 3);
}
.form-container input{
    margin: 5px 5px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(97, 83, 83);
}
.form-container button{
    margin: 5px 5px;
    padding: 4px;
    width: 60px;
    background-color: brown;
    border-radius: 5px;
    border: none;
    color: white;
}
.product-container img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 10px;
}
.product-container img:hover{
    width: 220px;
    height: 250px;
}
.product-container{
    border: 1px solid red;
    width: 250px;
   background-color: rgba(154, 139, 139, 0.904);
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
    color: rgb(234, 230, 21);
}
.product-btn{
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: white;
    font-size: medium;

}

.product-btn:hover{
   
    background-color: blanchedalmond;
    color: rgb(237, 99, 99);
}
